<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Historial</title>
    <link rel="stylesheet" href="/static/styles.css?v=1">
</head>
<body>
    <h1>Historial de Pokémon Guardados</h1>
    <button onclick="window.location.href='/'">Volver al Inicio</button> <!-- 🔥 Botón de regreso -->

    <ul id="history-list">
        <!-- Aquí se insertarán los Pokémon guardados -->
    </ul>

    <script src="/static/history.js"></script>
</body>
</html>
